:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-grey-color: #2f303a;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}

.box {
  display: flex;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 25px;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.border {
  border: 1px solid #ececec;
}

.list {
  list-style: none;
}

/* icon */
.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  max-width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.icon-img {
  display: inline-flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon {
  display: inline-flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon:not(:last-child) {
  margin-left: 10px;
}

/* логотип */
.logo {
  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;

  min-width: 145px;
  height: 31px;
  margin-right: 93px;
}

.logo-footer {
  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  min-width: 145px;
  height: 31px;
}

.accent {
  color: var(--accent-color);
}
.accent-logo {
  color: var(--primary-white-color);
}

/* header */

.header-page {
  display: flex;
  align-items: center;
}

.header-page-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav:not(:last-child) {
  margin-left: 50px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.list-item:not(:last-child) {
  margin-right: 50px;
}

.border {
  border: 1px solid #ececec;
}

/* hero */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
}
/* Overlay */
.overlay {
  height: 600px;
  outline: 1px solid #000;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.section-gallery {
  padding-top: 0;
}

.gallery {
  display: flex;
  margin-left: -30px;
}

.gallery-item {
  width: calc((100% - 90px) / 3);
  margin-left: 30px;
}

/* work */
.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  max-width: 270px;
  margin-bottom: 10px;
}

.work-list {
  display: flex;
  align-items: center;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  width: 270px;
}

/* projects */
.projects {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}
.projects-link {
  display: block;
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  box-sizing: border-box;
}

.projects-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-work {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.projects-class {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  box-sizing: border-box;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  width: 370px;
}

.projects-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

/* .projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* button */
.button {
  display: block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
}

.button-primary-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-primary {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
  padding: 6px 22px;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* features */

.feature-list {
  display: flex;
  margin-left: -30px;
  text-align: center;
}

.feature-item {
  width: calc((100%-120px) / 4);
  margin-left: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.feature {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.feature-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.feature-work {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.feature-icon-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.feature-icon {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.feature-icon:not(:last-child) {
  margin-right: 10px;
}

.feature-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.icons {
  fill: currentColor;
}

.feature-icon-link:hover,
.feature-icon-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* Clients */
.clients-list {
  display: flex;
  align-items: center;
}

.clients-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-item {
  margin-right: 30px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  cursor: pointer;
}

.clients-thumb:hover,
.clients-thumb:focus {
  border-color: var(--accent-color);
}

.clients-icon {
  display: inline-flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.clients-icon {
  fill: currentColor;
}

.clients-thumb:hover .clients-icon,
.clients-thumb:focus .clients-icon {
  fill: var(--accent-color);
}

/* contacts */
.contact-wrap .container {
  display: flex;
  align-items: baseline;
  /* justify-content: baseline; */
}

.contacts-icon-header {
  fill: var(--primary-text-color);
  cursor: pointer;
  margin-right: 10px;
}

.contacts-icon-header:not(:last-child) {
  margin-right: 10px;
}

.contacts-item:hover .contacts-icon-header,
.contacts-item:focus .contacts-icon-header {
  fill: var(--accent-color);
}

/* .contacts-icon-header:hover,
.contacts-icon-header:focus {
  fill: var(--accent-color);
} */

.contacts-item {
  display: inline-flex;
  align-items: center;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.adress {
  background-color: var(--primary-grey-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact:not(:last-child) {
  margin-left: 50px;
}

.contact-title {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.contact-item {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.contact-adress:not(:last-child) {
  margin-bottom: 9px;
}
.contact-title:hover,
.contact-item:hover,
.adress-title:hover {
  color: var(--accent-color);
}

.adress-title {
  color: var(--primary-white-color);
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.contacts {
  margin-top: 20px;
}

.contacts-link {
  margin-left: 70px;
}

.contacts-link-title {
  display: block;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contacts-link-list {
  display: flex;
  align-items: baseline;
}

.contacts-icon-list {
  display: flex;
  justify-content: center;
}

.contacts-icon {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.contacts-icon:not(:last-child) {
  margin-right: 10px;
}

.contacts-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.contacts-icons {
  fill: currentColor;
}

.contacts-icon-link:hover,
.contacts-icon-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
/* цвет основного текста: #212121;
вторичный цвет текста:#757575 ;
цвет h1:#FFFFFF;
цвет контактов в футере: #FFFFFF99 ? 60%   rgba(255, 255, 255, 0.6);
акцент: #2196f3;
цвет фона: #ffffff;
цвет торичного фона: #f5f4fa; */
